<div class="container_big-card">
  <div class="big-card_picture">
    <img
    src="https://m.media-amazon.com/images/M/MV5BYmY5ODRlNTgtMDMyOS00ZjY1LWFkZDAtMjJjZjc0M2FkYjNiXkEyXkFqcGdeQXJoYW5uYWg@._V1_.jpg"
    alt=""
    height="225px"
    >
  </div>
  <div class="big-card_title">
    <h1><a href="">Saiu a nova versão do angular</a></h1>
  </div>
  <div class="big-card_description">
    <p><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, aspernatur vel. Illo reprehenderit aperiam minima fugit nesciunt, incidunt tenetur, commodi, sed unde blanditiis quas itaque deleniti doloremque impedit inventore accusantium.</a></p>
  </div>
</div>
