<div class="container-small-card">

  <div class="container-small-card-content">
    <div class="small-card_picture">
      <img
      src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/28A21FFE0778495521587A0A0657E0415C2FDB2739AFF2A535FA8FAE6C95D1BD/scale?width=1200&aspectRatio=1.78&format=jpeg"
      alt=""
      >
    </div>
    <div class="small-card_title">
      <h1><a href="">Saiu a nova versão do angular</a></h1>
    </div>
 </div>

  <div class="container-small-card-separator">
    <hr>
  </div>
</div>
